@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

header h1 {
	margin-top: 20px;
}

body {
	font-size: 13px;
	font-family: 'Lato';
}

div.container {
	max-width: 1400px;
	margin: 0 auto;
}

mat-card.mat-card {
	width: 375px;
	height: 200px;
	float: left;
	margin: 20px;
}

.mat-card-header-text {
    width: 200px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.card-content {
    display: table-cell;
    vertical-align: middle;
}*/

mat-card-title-group.mat-card-title-group {
    display: inline-block;
    margin-left: 20px;
}

.mat-card-title {
	text-transform: capitalize;
	font-weight: bold;
}

img {
	float: right;
}
